<div class="main-list">
    <div class="list-container"  *ngFor="let user of randomUserList, let idx = index" [ngClass]="{last: 'no-border-bottom' }" (click)="goToUserDetails(idx)">
        <div class="user-thumbnail">
            <div>{{user.initials}}</div>
        </div>

        <div class="user-details">
            <div class="user-name">
                <div>
                    {{user.name.first}}
                </div>

                <div>
                    {{user.name.last}}
                </div>
            </div>

            <div class="user-city">
                <div class="empty"></div>
                <div class="city">
                    {{user.location.city}}
                </div>
            </div>
        </div>

        <div class="user-favorite" (click)="onUserHeartClicked($event,idx)">
            <img [src]="user.favorite ? './assets/images/heart2_filled.svg' : './assets/images/heart2_empty.svg'" />
        </div>
    </div>
</div>


<!--<div class="favorite-list-container">
    <div class="headline">
        Favoriten ({{favoriteUserList.length}})
    </div>

    <div class="favorite-user-container">
        <div class="favorite-user" *ngFor="let favorite of favoriteUserList; let idx = index" (click)="onFavUserClick(idx)">
            <img [src]="favorite.picture.large" />

            <span>{{favorite.name.first}}</span>
        </div>
    </div>
</div>-->

