<div class="main-list" *ngIf="selectedView === 1">
    <div class="list-container"  *ngFor="let user of favoriteUserList, let idx = index" [ngClass]="{last: 'no-border-bottom' }" (click)="onFavUserClick(idx)">
        <div class="user-thumbnail">
            <div>{{user.initials}}</div>
        </div>

        <div class="user-details">
            <div class="user-name">
                <div>
                    {{user.name.first}}
                </div>

                <div>
                    {{user.name.last}}
                </div>
            </div>

            <div class="user-city">
                <div class="empty"></div>
                <div class="city">
                    {{user.location.city}}
                </div>
            </div>
        </div>

        <div class="user-favorite" (click)="onUserHeartClicked($event,idx)">
            <img [src]="user.favorite ? './assets/images/heart2_filled.svg' : './assets/images/heart2_empty.svg'" />
        </div>
    </div>
</div>

<div class="main-list" *ngIf="selectedView === 2">
    <div class="list-container"  *ngFor="let user of randomUserList, let idx = index" [ngClass]="{last: 'no-border-bottom' }" (click)="goToUserDetails(idx)">
        <div class="user-thumbnail">
            <div>{{user.initials}}</div>
        </div>

        <div class="user-details">
            <div class="user-name">
                <div>
                    {{user.name.first}}
                </div>

                <div>
                    {{user.name.last}}
                </div>
            </div>

            <div class="user-city">
                <div class="empty"></div>
                <div class="city">
                    {{user.location.city}}
                </div>
            </div>
        </div>

        <div class="user-favorite" (click)="onUserHeartClicked($event,idx)">
            <img [src]="user.favorite ? './assets/images/heart2_filled.svg' : './assets/images/heart2_empty.svg'" />
        </div>
    </div>
</div>
