.main-list {
    overflow-y: scroll;
    //margin-bottom: 22vh;
    background-color: rgb(165, 224, 218);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    .list-container {
        margin-left: 2vw;
        margin-right: 2vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        flex-direction: row;
        align-items: center;
        display: flex;
        border-bottom: 1px solid #7FD3CB;

        .user-thumbnail {
            width: 10vw;
            height: 10vw;
            border-radius: 45vw;
            background: #69AAA4;
            justify-content: center;
            align-items: center;
            display: flex;

            div {
                color: #7FD3CB;
            }
        }

        .user-details {
            flex: 1;
            margin-left: 10px;
            flex-direction: column;
            text-transform: capitalize;
            display: flex;

            .user-name {
                display: flex;
                flex: 2;
                flex-direction: row;
                font-size: 5vw;
                color: #578C87;

                > div {
                    padding-right: 5px;
                }
            }

            .user-city {
                color: #FFFFFF;
                flex: 1;
                font-size: 3vw;
                display: flex;

                .empty {
                    flex: 1;
                }

                .city {
                    flex: 1;
                }

            }
        }

        .user-favorite {
            padding: 10px;

            img {
                width: 7vw;
            }
        }
    }

    .no-border-bottom {
        border-bottom: none;
    }
}




.favorite-list-container {
    display: flex;
    flex-direction: column;
    height: 22vh;
    background-color: white;
    position: fixed;
    bottom: 8vh;
    width: 100vw;

    .headline {
        background-color: rgb(239, 239, 244);
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 2vw;
    }

    .favorite-user-container {
        margin-left: 2vw;
        margin-right: 2vw;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;

        .favorite-user {
            display: flex;
            flex-direction: column;
            margin-right: 5vw;
            align-items: center;


            img {
                width: 15vw;
                height: 15vw;
                border-radius: 45vw;
                padding: 10px;
            }

            span {
                text-transform: capitalize;
            }
        }
    }
}
