<div class="user-details-wrapper">


    <div class="head">
        <div>
            <img [src]="user.picture.large">
        </div>

        <div class="user-name">
            <span>{{user.name.first}}</span> <span>{{user.name.last}}</span>
        </div>

        <div class="user-information">
            <span>Seit einer Woche und drei Tagen in England.</span>
        </div>

        <div class="add-reaction-button">
            <span>add reaction</span>
        </div>
    </div>

    <div class="body">
        <div>
            <div>
                <img src="./assets/images/map2.svg">
            </div>

            <div>
                <span>{{user.location.street}}, {{user.location.postcode}} {{user.location.city}}</span>
            </div>
        </div>

        <hr>

        <div>
            <div>
                <img src="./assets/images/phone.svg">
            </div>

            <div>
                <span>{{user.cell}}</span>
            </div>
        </div>

        <hr>

        <div>
            <div>
                <img src="./assets/images/world.svg">
            </div>

            <div>
                <span>{{user.email}}</span>
            </div>
        </div>
    </div>


</div>
