<div class="user-details-wrapper">


    <div class="head">
        <img [src]="user.picture.large" />
    </div>

    <div class="user-information">
        <img [src]="user.picture.large">

        <div class="name">
            {{user.name.first}} {{user.name.last}}
        </div>

        <div class="information">
            Seit 9 Monaten und 6 Tagen in Spanien
        </div>

    </div>

    <div class="body">
        <div class="backgroundcolor">
            <div>
                <img src="./assets/images/new/user-details/world.svg">
            </div>

            <div>
                <span>{{user.location.street}}, {{user.location.postcode}} {{user.location.city}}</span>
            </div>
        </div>

        <hr>

        <div>
            <div>
                <img src="./assets/images/new/user-details/phone.svg">
            </div>

            <div>
                <span>{{user.cell}}</span>
            </div>
        </div>

        <hr>

        <div class="backgroundcolor">
            <div>
                <img src="./assets/images/new/user-details/mail.svg">
            </div>

            <div>
                <span>{{user.email}}</span>
            </div>
        </div>
    </div>


</div>
