:host {
    flex: 1 1 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.user-details-wrapper {
    background-color: rgb(165, 224, 218);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    .head {
        img {
            height: 35vh;
            width: 100%;
            opacity: 0.4;
            -webkit-filter: grayscale(80%); /* Google Chrome, Safari 6+ & Opera 15+ */
            filter: grayscale(80%); /* Microsoft Edge and Firefox 35+ */
        }

    }

    .user-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        img {
            border: 2px solid #69C3BB;
            border-radius: 200px;
            height: 18vh;
            margin-top: -15vh;
            z-index: 1;
        }

        .name {
            margin-top: 30px;
            margin-bottom: 10px;
            color: white;
            text-transform: capitalize;
            font-size: 3vh;
        }

        .information {
            color: #578C87;
            font-size: 14px;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .backgroundcolor {
            background-color: rgb(178, 228, 223);
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1px;
        }

        > div {
            padding: 20px;
            display: flex;
            align-items: center;

            img {
                width: 24px;
                padding-right: 20px;
            }

            span {
                color: #578C87;
            }
        }
    }
}
