:host {
    flex: 0 0 auto;
    background-color: #DDE8F4;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 1px #8F8E94;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;

    img {
        height: 8vh;
        padding: 5px;
    }
}
