.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-action-bar {
  padding: 1rem;
  background-color: aliceblue;
}

app-content {

  flex: 1 1 auto;
  /*flex: 1 0 auto; use this to implement sticky footer*/
  overflow-y: scroll;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  background-color: beige;
}

app-footer {
  padding: 1rem;
  background-color: springgreen;
}
