:host {
    flex: 0 0 auto;
    background-color: #DDE8F4;
    border-bottom: 1px solid lightgray;
}

.action-bar-wrapper {
    display: flex;
    align-items: center;

    .back-button {
        width: 50px;
        padding-left: 20px;

    }

    .title {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .empty {
        width: 50px;
        padding-right: 20px;
    }
}
